/*body {
  background:#eee;
  padding:22px;
}
br {
  line-height: 2em;
}
h1 {
  font-size:24px;
}
h2 {
  font-size:18px;
}*/

body {
  background:#eee;
  padding:62px 0 0 0;
}
.row {
  padding:0 0 20px 0;
}
.summary {
  border-bottom: 3px double black;
}


